<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark ">
  <div class=" navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/contact']">تواصل معنا</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/shows']">عروض</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/albums']">البوم</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#" [routerLink]="['/home']">كورال افا بافلي <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
