p
{
    float: right;
    font-size: 20px;
}
.home
{
    margin-top: 100px;
}
img
{
    max-width:100%;
    max-height:100%;
}
.home
{
    border-style: solid;
}
.carousel , .carousel-inner
{
    height: 500px;
    margin-top:70px;
}